/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*vendor webkit */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;

}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    margin:0 3em 3em 3em;

}

img {
    max-width: 100%;
}

.lead {
    padding-left: 0;
}

header.logo h1 {
    font-family: 'Monoton';
    font-size: 13vw;
    transform: scaleY(1.1);
    font-weight: lighter;
    margin-top: 0;
    padding-left: 0;
    letter-spacing: 0.2em;
    opacity: 0.5;
}


#poetical-underline {
    height: 12vh;
    position: relative;
    bottom: 2.5em;
    opacity: 0.5;

    
}
span.lazuli:hover {
    color: rgba(154, 239, 255, 1);
    
}

span.sand:hover {
    color: rgba(255, 231, 152, 1);
    
}

span.lips:hover {
    color: rgba(255, 57, 57, 1);
    
}

span#leaf:hover {
    color: rgba(129, 254, 122, 1);
}

span#iris:hover {
    color: rgba(135, 126, 255, 1);
}

span#aquamarine:hover {
    color: rgba(152, 255, 229, 1);
}

header.logo p {
    text-align: center;
    line-height: 0;
}

nav.navbar {
    margin-bottom: 0;
}

.lead {
    margin-bottom: 0;
}

.masthead {
    font-family: "Oxygen";
    font-size: 1em;
    opacity: 0.9;
    font-weight: bold;
    margin-bottom: 3em;

}

.homepage {
    font-family: "Helvetica Neue";
    
}

.homepage h2 {
    /*color: rgba(65, 65, 65, 1);*/
    font-size: 2em;
}

.homepage u {
    text-decoration: none;
    border-bottom: 1px solid grey;
}

.homepage img {
    max-width: 100%;
    max-height: 200px;
}

.directions {
    font-family: "Oxygen";
    margin-bottom: 2em;
}

#kern {
    padding-top: 20%;
}

.blog_post img {
    display: block;
}

.footer {
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    
    height: 60px;
}

.footer p {
    font-family: "Philosopher";
    font-size: 2em;
}

a {
    color: grey;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: grey;
}

a:active {
    text-decoration: none;
}
/*====================*/
/*====================*/
/*MxT Sina Queyras */
/*====================*/
/*====================*/

a.qlogo {
    text-decoration: none;
    font-family: "Monoton";
    font-size: 5em;
    letter-spacing: 0.2em;
    color: rgba(41, 243, 182, 1);
}

a.qlogo:link {
    text-decoration: none;
}

.qlogo a:visited {
    text-decoration: none;
}

a.qlogo:hover {
    color: rgba(255, 56, 143, 1);
}

a.qlogo:active {
    text-decoration: none;
}

.book_info {
    margin-top: 2.5%;
}

main.mxt_plausible p {
    font-family: "Merriweather";
    font-weight: 300;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.75em;

}

main.mxt_plausible a {
    text-decoration: underline;
    color: #000;
}

main.mxt_plausible a:hover {
    text-decoration: underline;
    color: #000;
}

.fa {
    opacity: 0.5;
    text-align: center;
}

#bumpE {
    padding-top: 4%;
    text-decoration: none;
}

.proposition_two {
    padding-top: 4%;
}

#circleplus {
    padding-top: 15%;
}

.proposition_three {
    margin-top: 5%;
}

.fa-level-down {
    transform: scaleX(-1);
    padding-top: 4%;
}

.proposition_four {
    margin-top: 5%;
}

#times {
    padding-top: 4%;
}

.proposition_five {
    margin-top: 10%;
}

.proposition_six {
    margin-top: 10%;
}

.math {
    text-align: center;
    opacity: 0.75;
    font-size: 4em;
}

#footling {
    padding-bottom: 5em;
}
/*====================*/
/*====================*/
/*Their Biography Kevin Mcpherson Eckhoff */
/*====================*/
/*====================*/

a.tblogo {
    text-decoration: none;
    font-family: "Monoton";
    font-size: 5em;
    letter-spacing: 0.2em;
    color: rgba(154, 0, 197,1);
}

a.tblogo:link {
    text-decoration: none;
}

.tblogo a:visited {
    text-decoration: none;
}

a.tblogo:hover {
    color: rgba(255, 116, 0, 1);
}

a.tblogo:active {
    text-decoration: none;
}

.book_info {
    width: 25%;
}

.book_info img {
    max-width: 100%;
    max-height: 200px;
    float: left;
    margin-right: 0.5em;
}

.eckhoffs_undoing {
    font-family: "Merriweather";
    font-weight: 300;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.7em;
    margin-top: 4em;
}

.eckhoffs_undoing pre {
    background-color: white;
    border: none;
}

main.eckhoffs_undoing a {
    text-decoration: underline;
    color: #000;
}

main.eckhoffs_undoing a:hover {
    text-decoration: underline;
    color: #000;
}

.chapter {
    margin: 1em 0;
}

.eckhoffs_undoing aside p {
    text-align: left;
}

#theflyer {
    float: right;
}

#whoiskevin {
    margin: 2em 0 1.5em 0;
}

#sourcekevin {
    margin: 1em 0 1.5em 0;
}

#loveexpires {
    margin: 1em 0 2em 0;
}

#lovenotice {
    height: 30px;
    margin: 1em 0 1em 0;
}

#blanklove {
    float: left;
    margin-right: 0.5em;
    height: 220px;
    border: 1px solid grey;
    padding: 0;
}

.finale {
    margin-top: 4em;
}

.finale img {
    margin: 1em 0 2em 0;
}
/* ==========================================================================
/* ==========================================================================
 KERN derek beaulieu
==========================================================================
========================================================================== */

a.klogo {
    text-decoration: none;
    font-family: "Monoton";
    font-size: 5em;
    letter-spacing: 0.2em;
    color: rgba(251, 0, 13, 1);
}

a.klogo:link {
    text-decoration: none;
}

.klogo a:visited {
    text-decoration: none;
}

a.klogo:hover {
    color: rgba(36, 59, 206, 1);
}

a.logo:active {
    text-decoration: none;
}

.kernels {
    font-family: "Merriweather";
    font-weight: 300;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.75em;
    margin-top: 5em ;
    width: 80%;
    


}

.kerns-longest-words {
    font-size: 2em;
    font-weight: bold;
    margin-top: 2em;
    text-align: center;
}

.kerns-longest-words p:last-child {
    font-size: initial;
    font-weight: 300;
    font-size: 0.4em;
    /*text-align: left;*/
}

.kerns-longest-word-clump {
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 4em;
    font-weight: bold;
    line-height: 0.1em;
    text-align: center;
}

main.kernels a {
    text-decoration: underline;
    color: #000;
}

.every-q p:first-child {
    font-size: 15em;
    margin-top: 0.5em;
}

.every-q p:nth-child(2) {
    font-size: 15em;
    transform: rotate(15deg);
    -webkit-transform:rotate(15deg);
}

.every-q p:nth-child(3) {
    font-size: 15em;
    transform: rotate(30deg);
    -webkit-transform:(30deg);
}

.every-q p:nth-child(4) {
    font-size: 15em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.every-q p:nth-child(5) {
    font-size: 15em;
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}

.every-q p:nth-child(6) {
    font-size: 15em;
    transform: rotate(75deg);
    -webkit-transform: rotate(75deg);
}

.every-q p:nth-child(7) {
    font-size: 15em;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.every-q p:nth-child(8) {
    font-size: 15em;
    transform: rotate(105deg);
    -webkit-transform: rotate(105deg);
}

.every-q p:nth-child(9) {
    font-size: 15em;
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
}

.every-q p:nth-child(10) {
    font-size: 15em;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.every-q p:nth-child(11) {
    font-size: 15em;
    transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
}

.every-q p:nth-child(12) {
    font-size: 15em;
    transform: rotate(165deg);
    -webkit-transform:rotate(165deg);
    margin-bottom: 0.5em;
}

.every-q p:last-child {
    position: relative;
    margin-bottom: 4em;
    z-index: 2;
    font-size: initial;
    font-weight: 300;
    font-size: 0.85em;
}

.authorial-intrusion {
    color: grey;
}

.pleasenomore {
    position: relative;
    margin: 2em 0;
    font-weight: 300;
    z-index: 1;
}

.pleasenomore p:last-child {
    width: 80%;
    margin: 2.5em auto;
    white-space: pre-wrap;
    text-align: justify;
}

.kern-every-e {
    margin: 4em 0;
    

        

}

.top-row p {
    display: inline-block;
    line-height: 0.1em;
}

.letter:nth-child(2n+1) {
    transform: scale(2.5) rotate(15deg);
    -webkit-transform: scale(2.5) rotate(15deg);
    /*color: purple;*/
    
    letter-spacing: 0.5em;
}

.letter:nth-child(3n+1) {
    transform: skewX(15deg) rotate(100deg) translateY(35px);
    -webkit-transform:skewX(15deg) rotate(100deg) translateY(35px);
    font-size: 2em;
    /*color: green;*/
    
    letter-spacing: 0.2em;
}

.letter:nth-child(10n+300) {
    transform: rotate(180deg);
    -webkit-transform:rotate(180deg);
    font-size: 3em;
}

.letter:nth-child(300n) {
    font-size: 9em;
    transform: skewX(120deg);
    -webkit-transform: skewX(120deg);
}

.letter:nth-child(50n+4) {
    transform: skewY(200deg);
    -webkit-transform: skewY(200deg);
    /*  color: blue;*/
    
    font-size: 5em;
}

.letter:nth-child(100n+69) {
    font-size: 15em;
    float: left;
    /*color: pink;*/
}

.letter:nth-child(100n+50) {
    font-size: 4em;
    transform: translateX(-1em) skewY(20deg);
    -webkit-transform: translateX(-1em) skewY(20deg);
    ;
    /*color: yellow;*/
}

.middle p {
    display: inline-block;
    line-height: 0.3em;
}
.kern-definition {
    margin-top: 5em;
}

.fj {
    margin: 1em;
    font-size: 25em;
}

/* ==========================================================================
/* ==========================================================================
THRUM NATALIE SIMPSON
==========================================================================
========================================================================== */

a.slogo {
    text-decoration: none;
    font-family: "Monoton";
    font-size: 5em;
    letter-spacing: 0.2em;
    color: rgba(255, 244, 86, 1);
}

a.slogo:link {
    text-decoration: none;
}

.slogo a:visited {
    text-decoration: none;
}

a.slogo:hover {
    color: rgba(192, 192, 192, 1);
}

a.slogo:active {
    text-decoration: none;
}


.thrum-hum {
    font-family: "Merriweather";
    font-weight: 300;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.75em;
    margin-top: 5em ;
    width: 80%;


}
main.thrum-hum a {
    text-decoration: underline;
    color: #000;
}

.sounding {
    margin-bottom: 8em;
}
.sounding p {
    display: inline-block;

    /*margin-bottom: 1.1em;*/
}
.benjam {
    margin-bottom: 8em;
}
.benjam p {
    display: inline-block;

}
.sifting {
    margin-bottom: 5em;
}
.sifting p {
    display: inline-block;
}

.stein-begin {
    margin-bottom: 5em;
}
.the-hapax {
    margin-bottom: 5em;
}
.letter-action-language p:last-child {
    font-size: 0.75em;
    margin-bottom: 5em;

}
.dabar {
    margin-bottom: 5em;
}



/* ==========================================================================
/* ==========================================================================
AS WHEN TOM RAWORTH
==========================================================================
========================================================================== */

a.ralogo {
    text-decoration: none;
    font-family: "Monoton";
    font-size: 5em;
    letter-spacing: 0.2em;
    color: rgba(129, 47, 49, 1);
}

a.ralogo:link {
    text-decoration: none;
}

.ralogo a:visited {
    text-decoration: none;
}

a.ralogo:hover {
    color: rgba(97, 122, 44, 1);
}

a.ralogo:active {
    text-decoration: none;
}

.rara {
    font-family: "Merriweather";
    font-weight: 300;
    /*text-align: justify;*/
    font-size: 1.1em;
    line-height: 2em;
    margin-top: 5em ;
    width: 80%;
    


}
main.rara a {
    text-decoration: underline;
    color: #000;
}

#tom-dedicate {
    font-size: 0.75em;
    font-style: italic;
}

.foundlangra {
       font-family: "Merriweather";
    font-weight: 300;
    /*text-align: justify;*/
    font-size: 1em;
    line-height: 2em;
    background-color: white;
    border: none;
    text-align: right;
}
/* ==========================================================================
/* ==========================================================================
BARDY GOOGLE FRANK DAVEY
==========================================================================
========================================================================== */

a.bglogo {
    text-decoration: none;
    font-family: "Monoton";
    font-size: 5em;
    letter-spacing: 0.2em;
    color: rgba(143, 167, 245,1);
}

a.bglogo:link {
    text-decoration: none;
}

.bglogo a:visited {
    text-decoration: none;
}

a.bglogo:hover {
    color: rgba(131, 225, 243, 1);
}

a.bglogo:active {
    text-decoration: none;
}

.bardglow {
    font-family: "Merriweather";
    font-weight: 300;
    /*text-align: justify;*/
    font-size: 1.1em;
    line-height: 2em;
    margin-top: 5em ;
    width: 80%;
    


}
main.bardglow a {
    text-decoration: underline;
    color: #000;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 991px) {
    .fa-level-down {
        display: none;
    }
}

@media only screen and (max-width: 35em) {
    header.logo h1 {
        font-size: 3em;
    }
    .blog_post {
        margin-bottom: 2em;
    }
}

@media only screen and (max-width: 767px) {
     header.logo h1 {
        font-size: 5em;
    }
    .blog_post {
        margin-bottom: 5em;
    }
}

@media only screen and (max-width: 480px) {
     header.logo h1 {
        font-size: 3.5em;
    }
    .masthead {
        font-size: 0.75em;
    }
    .blog_post {
        margin-bottom: 5em;
    }
}

     
@media only screen and (min-width: 992em) {
    /* Style adjustments for viewports that meet the condition */
   
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}