/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    margin: 3em;
}

img {
    max-width: 100%;
}

.lead {
    padding-left: 0;
}

header.logo h1 {
    font-family: 'Monoton';
    font-size: 4em;
    font-weight: lighter;
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    padding-left: 0;
    letter-spacing: 0.75em;
}

span.lazuli:hover {
    color: rgba(154, 239, 255, 1);
    cursor: pointer;
}

span.sand:hover {
    color: rgba(255, 231, 152, 1);
    cursor: pointer;
}

span.lips:hover {
    color: rgba(255, 152, 176, 1);
    cursor: pointer;
}

span#leaf:hover {
    color: rgba(129, 254, 122, 1);
}

span#iris:hover {
    color: rgba(135, 126, 255, 1);
}

span#aquamarine:hover {
    color: rgba(152, 255, 229, 1);
}

header.logo p {
    text-align: center;
    line-height: 0;
}

nav.navbar {
    margin-bottom: 0;
}

.lead {
    margin-bottom: 0;
}

.masthead {
    margin-bottom: 5em;
}

.homepage {
    font-family: "Oxygen";
}

.homepage h2 {
    color: rgba(65, 65, 65, 1);
    font-size: 2em;
}

.homepage u {
    text-decoration: none;
    border-bottom: 1px solid grey;
}

.homepage img {
    max-width: 100%;
    max-height: 200px;
}

.directions {
    margin-bottom: 5em;
}

#kern {
    padding-top: 20%;
}

.blog_post img {
    display: block;
}

.footer {
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    
    height: 60px;
}

.footer p {
    font-family: "Philosopher";
    font-size: 2em;
}

a {
    color: grey;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: grey;
}

a:active {
    text-decoration: none;
}
/*====================*/
/*====================*/
/*MxT Sina Queyras */
/*====================*/
/*====================*/

a.qlogo {
    text-decoration: none;
    font-family: "Monoton";
    font-size: 5em;
    letter-spacing: 0.2em;
    color: rgba(41, 243, 182, 1);
}

a.qlogo:link {
    text-decoration: none;
}

.qlogo a:visited {
    text-decoration: none;
}

a.qlogo:hover {
    color: rgba(255, 56, 143, 1);
}

a.qlogo:active {
    text-decoration: none;
}

.book_info {
    margin-top: 2.5%;
}

main.mxt_plausible p {
    font-family: "Merriweather";
    font-weight: 300;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.75em;
}

main.mxt_plausible a {
    text-decoration: underline;
    color: #000;
}

main.mxt_plausible a:hover {
    text-decoration: underline;
    color: #000;
}

.fa {
    opacity: 0.5;
    text-align: center;
}

#bumpE {
    padding-top: 4%;
    text-decoration: none;
}

.proposition_two {
    padding-top: 4%;
}

#circleplus {
    padding-top: 15%;
}

.proposition_three {
    margin-top: 5%;
}

.fa-level-down {
    transform: scaleX(-1);
    padding-top: 4%;
}

.proposition_four {
    margin-top: 5%;
}

#times {
    padding-top: 4%;
}

.proposition_five {
    margin-top: 10%;
}

.proposition_six {
    margin-top: 10%;
}

.math {
    text-align: center;
    opacity: 0.75;
    font-size: 4em;
}

#footling {
    padding-bottom: 5em;
}
/*====================*/
/*====================*/
/*Their Biography Kevin Mcpherson Eckhoff */
/*====================*/
/*====================*/

a.tblogo {
    text-decoration: none;
    font-family: "Monoton";
    font-size: 5em;
    letter-spacing: 0.2em;
    color: rgba(20, 76, 204, 1);
}

a.tblogo:link {
    text-decoration: none;
}

.tblogo a:visited {
    text-decoration: none;
}

a.tblogo:hover {
    color: rgba(255, 116, 0, 1);
}

a.tblogo:active {
    text-decoration: none;
}

.book_info {
    width: 25%;
}

.book_info img {
    max-width: 100%;
    max-height: 200px;
    float: left;
    margin-right: 0.5em;
}

.eckhoffs_undoing {
    font-family: "Merriweather";
    font-weight: 300;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 4em;
}
.eckhoffs_undoing pre {
    background-color: white;
    border: none;
}
main.eckhoffs_undoing a {
    text-decoration: underline;
    color: #000;
}

main.eckhoffs_undoing a:hover {
    text-decoration: underline;
    color: #000;
}

.chapter {
    margin: 1em 0;
}

aside p {
    text-align: left;
}

#theflyer {
    float: right;
}

#whoiskevin {
    margin: 2em 0 1.5em 0;
}

#sourcekevin {
    margin: 1em 0 1.5em 0;
}

#loveexpires {
    margin: 1em 0 2em 0;
}

#lovenotice {
    height: 30px;
    margin: 1em 0 1em 0;
}

#blanklove {
    float: left;
    margin-right: 0.5em;
    height: 220px;
    border: 1px solid grey;
    padding: 0;
}

.finale {
    margin-top: 4em;
}

.finale img {
    margin: 2em 0;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 991px) {
    .fa-level-down {
        display: none;
    }
}

@media only screen and (max-width: 35em) {
    header.logo h1 {
        font-size: 3em;
    }
    .blog_post {
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}